*{
	margin: 0px;
	padding: 0px;
}
.boxTop{
	position: relative;
	background-color: #F6F6F6;
	width: 100%;
	height: 90px;
}
.boxTop img{
	position: absolute;
	top: 20px;
	left: 30px;
}
.boxTop input{
	position: absolute;
	width: 350px;
	height: 30px;
	border-radius: 3px;
	top: 25px;
	left: 450px;
}
.boxCenter{
	width: 100%;
	height: 30px;
	background-color: #96B97D;
}
.boxCenter div{
	margin-left: 30px;
	line-height: 30px;
	font-size: 14px;
	color: white;
}
.leftBox{
	margin-left: 10px;
	margin-top: 20px;
	width: 180px;
	height: 430px;
	border-radius: 4px;
	border: 1px solid #E4E4E4;
}
.leftBox div{
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-indent: 6px;
}
.leftBox div:nth-of-type(1){
	width: 180px;
	height: 30px;
	line-height: 30px;
	background-color: #F0F0F0;
}
.color1{
	background-color: #FBFBFB;
}
.rightBox{
	position: relative;
	width: 650px;
	height: 400px;
	margin-top: -431px;
	margin-left: 200px;
	border: 1px solid #E4E4E4;
	border-radius: 3px;
	border-bottom: 0px;
}
.rightBox div:nth-of-type(1){
	margin-top: 25px;
	margin-left: 20px;
	border-bottom: 1px solid #EAEAEA;
	font-weight: bold;
}
.rightBox div:nth-of-type(1) span{
	margin-left: 5px;
}
.rightBox1,.rightBox2,.rightBox3,.rightBox7{
	position: relative;
	width: 280px;
	height: 90px;
	background-color: #F6F6F6;
	margin-left: 20px;
	margin-top: 12px;
	border-radius: 3px;
}
.rightBox4{
	position: relative;
	width: 280px;
	height: 90px;
	background-color: #F6F6F6;
	margin-left: 310px;
	margin-top: -294px;
	border-radius: 3px;
}
.rightBox5,.rightBox6{
	position: relative;
	width: 280px;
	height: 90px;
	background-color: #F6F6F6;
	margin-left: 310px;
	margin-top: 12px;
	border-radius: 3px;
}
.rightBox8{
	position: relative;
	width: 280px;
	height: 90px;
	background-color: #F6F6F6;
	margin-left: 310px;
	margin-top: -90px;
	border-radius: 3px;
}
.rightBox1 span:nth-of-type(1){
	color: #64854C;
	position: absolute;
	left: 24px;
	top: 17px;
}
.rightBox1 .img1{
	position: absolute;
	left: 25px;
	top: 43px;
}
.rightBox1 span:nth-of-type(2){
	position: absolute;
	left: 70px;
	top: 45px;
	font-size: 12px;
	color: #777777;
}
.rightBox2 span:nth-of-type(1){
	color: #64854C;
	position: absolute;
	left: 24px;
	top: 17px;
}
.rightBox2 .img1{
	position: absolute;
	left: 25px;
	top: 43px;
}
.rightBox2 span:nth-of-type(2){
	position: absolute;
	left: 70px;
	top: 45px;
	font-size: 12px;
	color: #777777;
}
.rightBox3 span:nth-of-type(1){
	color: #64854C;
	position: absolute;
	left: 24px;
	top: 17px;
}
.rightBox3 .img1{
	position: absolute;
	left: 25px;
	top: 43px;
}
.rightBox3 span:nth-of-type(2){
	position: absolute;
	left: 70px;
	top: 45px;
	font-size: 12px;
	color: #777777;
}
.rightBox4 span:nth-of-type(1){
	color: #64854C;
	position: absolute;
	left: 24px;
	top: 17px;
}
.rightBox4 .img1{
	position: absolute;
	left: 25px;
	top: 43px;
}
.rightBox4 span:nth-of-type(2){
	position: absolute;
	left: 70px;
	top: 45px;
	font-size: 12px;
	color: #777777;
}
.rightBox5 span:nth-of-type(1){
	color: #64854C;
	position: absolute;
	left: 24px;
	top: 17px;
}
.rightBox5 .img1{
	position: absolute;
	left: 25px;
	top: 43px;
}
.rightBox5 span:nth-of-type(2){
	position: absolute;
	left: 70px;
	top: 45px;
	font-size: 12px;
	color: #777777;
}
.rightBox6 span:nth-of-type(1){
	color: #64854C;
	position: absolute;
	left: 24px;
	top: 17px;
}
.rightBox6 .img1{
	position: absolute;
	left: 25px;
	top: 43px;
}
.rightBox6 span:nth-of-type(2){
	position: absolute;
	left: 70px;
	top: 45px;
	font-size: 12px;
	color: #777777;
}
.rightBox7 span:nth-of-type(1){
	color: #64854C;
	position: absolute;
	left: 24px;
	top: 17px;
}
.rightBox7 .img1{
	position: absolute;
	left: 25px;
	top: 43px;
}
.rightBox7 span:nth-of-type(2){
	position: absolute;
	left: 70px;
	top: 45px;
	font-size: 12px;
	color: #777777;
}
.rightBox8 span:nth-of-type(1){
	color: #64854C;
	position: absolute;
	left: 24px;
	top: 17px;
}
.rightBox8 .img1{
	position: absolute;
	left: 25px;
	top: 43px;
}
.rightBox8 span:nth-of-type(2){
	position: absolute;
	left: 70px;
	top: 45px;
	font-size: 12px;
	color: #777777;
}
.bottomBox{
	position: absolute;
	width: 930px;
	left: 20px;
	top: 380px;
	border-bottom: 1px solid #E4E4E4;
	font-weight: bold;
	opacity:0;
}
.javaBox{
	display: none;
}
.gudin{
	position: fixed;
	right: 0px;
}
.htmlBox{
	display: none;
}